/* General Styles */
body {
  background-image: url('/rocket.png');
  margin: 0;
  padding: 0;
  font-family: sans-serif; /* Change font family as desired */
}
a {
  font-size: 25px;
  padding: 35px;
}
p {
  padding: 0px 10px;
}
error {
  color: red;
  font-size: 15px;
}
li {
  color: black;
  padding: 0px 10px;
}
h3 {
  padding: 0px 10px;
}
nav {
  width:1240px;
  height:35px;
  margin:left;
  background-color: white;
  opacity: 0.6;
  padding: 5px;
  border-radius: 10px;
}

/* Chat Container */
#chat-container {
  width: 1000px; /* Adjust width as needed */
  height: 350px;
  margin: 20px auto; /* Center the container horizontally */
  border: 1px solid #ddd; /* Add a border */
  border-radius: 25px; /* Add rounded corners */
  background-color: #eee; /* Set background color */
}

/* Chat Header */
#chat-container h2 {
  padding: 10px;
  margin: 0;
  text-align: center;
  background-color: #ddd; /* Set header background color */
  border-radius: 25px;
  overflow: visible;
}

/* Chat Messages */
#chat-messages {
  height: 300px; /* Adjust height as needed */
  overflow-y: scroll; /* Enable vertical scrolling */
  padding: 10px; /* Add padding for messages */
  border-radius: 25px;
  background-color: #dde;
}

/* Individual Messages */
#chat-messages p {
  margin: 5px 0; /* Add spacing between messages */
  padding: 10px; /* Add padding for each message */
  border-radius: 5px; /* Add rounded corners */
  background-color: #fff; /* Set message background color */
  border-radius: 25px;
}
 /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  min-width: 500px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.modelbtn {
  background-color: #04AA6D;
  color: white;
  width: 100px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
#request {
  background-color: #04AA6D;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

#request.toggled {
  background-color: #088557;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

#stop {
  background-color: #F03A54;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
 
#stop.toggled {
  background-color: #F06154;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
#clear {
  background-color: #EF5044;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
 
#clear.toggled {
  background-color: #F06154;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
#resetLLM {
  background-color: #EF5044;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
 
#resetLLM.toggled {
  background-color: #F06154;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
#resetLOG {
  background-color: #6A1313;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
 
#resetLOG.toggled {
  background-color: #410D0C;
  color: white;
  min-width: 30px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
.model-select {
  position: relative;
  display: inline-block;
}
/*select {
  background-color: #04AA6D;
  color: white;
  overflow: visible;
  min-width: 100px;
  padding: 18px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
}
*/
input {
  width: 500px;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid white;
  background-color: dfdede;
}

#send-message {
  border-radius: 25px;
  border: 2px; solid; white;
  color: black;
  background-color: #8e8282;
  width: 100px;
  height: 30px;

}

.model-select-content {
  display: none;   
  position: absolute;
  background-color: #c9c1c1;
  width: 225px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #c9c1c1;
  min-width: 600px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10px;
}


/* Links inside the dropdown */
.dropdown-content a {
  color: blue;
  padding: 0px 0px;
  text-decoration: none;
/*  display: block;*/
  font-size: 16px;
}
.model-select-content a {
  color: black;
  float: right;
  border-radius: 10px;
  background-color: #B2C1C1;
  padding: 5px 5px;
  text-decoration: none;
  display: inline;
  font-size: 22px;
}
.model-select-content button {
  color: white;
  background-color: #04AA6D;
  padding: 10px 10%; /*20px;*/
  border-radius: 10px;
  font-size: 16px;
  border: none;
  min-width: 200px;
  margin: 1px;
}
.model-select-content button:hover {
  color: black;
  background-color: #3e8e41;
  padding: 10px 10%; /*40px;*/
  border-radius: 10px;
  font-size: 16px;
  border: none;  
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.model-select:hover .model-select-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
  min-width: 500px;
} 
.model-select:hover .modelbtn {
  background-color: #3e8e41;
  min-width: 500px;
}
/* yes background image lets goooo */
